<section class="block container">
    <!-- adding the container class to the block with white bg-->
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Similique labore doloribus tempore culpa, placeat quos unde
            suscipit animi sint obcaecati.
        </p>
    </header>
</section>

<section class="block block--dark block--skewed-right">
    <div class="container">
        <!-- adding the container class to the content of black block -->
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Similique labore doloribus tempore culpa, placeat quos unde
            suscipit animi sint obcaecati.
        </p>
    </div>
</section>

<section class="block block--dark block--skewed-left">
    <div class="container">
        <!-- adding the container class to the content of black block -->
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Similique labore doloribus tempore culpa, placeat quos unde
            suscipit animi sint obcaecati.
        </p>
    </div>
</section>
